                /* Navbar */

header.hide-OnMobile {
    height: 7rem;
    background-color: var(--light-brown);
}

.pc-navbar {
    margin: 0 10rem;
    color: var(--darker-brown);
    display: flex;
    justify-content: space-between;
}

.pc-navbar > :first-child {
    font-weight: 900;
    font-size: 5rem;
    Font-Family: 'Playfair Display', Serif;
    font-style: italic;
}

.pc-navbar ul {
    display: flex;
    align-items: center;
}

.pc-navbar li {
    margin-left: 4rem;
}

.pc-navbar img {
    width: 6.5rem;
    margin: 0 1.5rem;
}

@media only screen and (max-width: 575.98px) {
    *{
        font-size: 3.5px;
    }

    .hide-OnMobile {
        display: none;
    }

    header.hide-OnPc {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 14rem;
    }

    .mobile-navbar {
        background-color: var(--light-brown);
        height: 100%;
    }

    .mobile-navbar ul {
        display: flex;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

    .mobile-navbar li {
        border: 0.4rem solid var(--darker-brown);
        padding: 2rem 14vw;
    }

    .mobile-navbar li a {
        Font-Family: 'Playfair Display', Serif;
        font-weight: 800;
        color: var(--darker-brown);
        font-size: 7rem;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    
    * {
        font-size: 4px;
    }

    .hide-OnMobile {
        display: none;
    }
    
    header.hide-OnPc {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 14rem;
    }

    .mobile-navbar {
        background-color: var(--light-brown);
        height: 100%;
    }

    .mobile-navbar ul {
        display: flex;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
    }

    .mobile-navbar li {
        border: 0.4rem solid var(--darker-brown);
        padding: 2rem 14vw;
    }

    .mobile-navbar li a {
        Font-Family: 'Playfair Display', Serif;
        font-weight: 800;
        color: var(--darker-brown);
        font-size: 7rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    
    * {
        font-size: 7.5px;
    }

    .hide-OnPc {
        display: none;
    }
    .pc-navbar li {
        margin-left: 2rem;
    }
}

@media only screen and (min-width: 992px) and (max-width:1199.98px) {

    * {
        font-size: 9px;
    }

    .hide-OnPc {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    
    .hide-OnPc {
        display: none;
    }
}
                /* END Navbar */

                /* Homepage */

#main-bg {
    background-image: url(../images/main-bg.jpg);
    background-size: cover;
    background-position: center center;
}

.hp-info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.hp-info h1 {
    font-size: 16rem;
    color: var(--light-brown);
    margin-top: 0rem;
    text-shadow: 0.5rem 0.5rem 0.2rem var(--darker-brown);
}

.hp-info h2 {
    font-size: 5rem;
    color: var(--darker-brown);
}

@media only screen and (max-width: 575.98px) {

    .hp-info  {
        text-align: center; 
    }

    .hp-info h1 {
        font-size: 14rem;
        margin-top: 30rem;
    }

    .hp-container {
        width: 100%;
        height: 94vh;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    
    .hp-info  {
        text-align: center; 
    }

    .hp-info h1 {
        font-size: 25rem;
        margin-top:20rem;
    }

    .hp-container {
        width: 100%;
        height: 94vh;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    
    .hp-info  {
        text-align: center; 
    }
}

@media only screen and (min-width: 992px) {

    
}
                /* END Homepage */