                /* Reset CSS ^^ */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:wght@300;400&display=swap');

:root {
    --light-brown: #DFB78C;
    --brown: #AB6832;
    --darker-brown: #49281A; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 2rem;
    Font-Family: 'Source Sans Pro', Sans-Serif;
}

h1,h2,h3,h4,h5,h6 {
    Font-Family: 'Playfair Display', Serif;
    font-size: 10rem;
    font-style: italic;
}

p {
    Font-Family: 'Source Sans Pro', Sans-Serif;
    font-size: 2rem;
    font-weight: 300;
}

                /* END Reset CSS */
                /* MEDIA QUERIES */

@media only screen and (max-width: 575.98px) {

    
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    
    
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    
    
}

@media only screen and (min-width: 992px) {

    
}

                /* END MEDIA QUERIES */
                /* Classes */



                /* END Classes */